* {
  background-color: aliceblue;
  padding: 0%;
  margin: 0%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
}

#MyMainContainer {
  border: 1px solid blue;
  height: 100vmax;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  margin: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

footer {
  border: 1px solid blue;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92vw;
}